In [82]:
import pandas as pd
import numpy as np

path = "C:\\Users\\dmehri\\Documents\\DATA\\DOT\\"

df = pd.read_csv(path + "Motor_Vehicle_Collisions_-_Crashes.csv", error_bad_lines = False)

C:\Users\dmehri\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
C:\Users\dmehri\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [83]:

df = df[["CRASH DATE", "CRASH TIME",'BOROUGH', 'ZIP CODE', 'NUMBER OF PERSONS INJURED',
       'NUMBER OF PERSONS KILLED', 'NUMBER OF PEDESTRIANS INJURED',
       'NUMBER OF PEDESTRIANS KILLED', 'NUMBER OF CYCLIST INJURED',
       'NUMBER OF CYCLIST KILLED', 'NUMBER OF MOTORIST INJURED',
       'NUMBER OF MOTORIST KILLED']]

In [84]:
df.columns

Index(['CRASH DATE', 'CRASH TIME', 'BOROUGH', 'ZIP CODE',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED'],
      dtype='object')

Motor Crashes by Zip Code

In [85]:
df = df.dropna()

df["CRASH DATE"] = df["CRASH DATE"].astype(str)
df["Year"] = df["CRASH DATE"].str.split("/").str[2].map(str.strip)

df["ZIP CODE"] = df["ZIP CODE"].astype(str)
df["ZIP CODE"] = df["ZIP CODE"].str.split(".").str[0].map(str.strip)

2019

In [86]:
df2019 = df[df["Year"] == "2019"].reset_index(drop=True)

df2019["Number Persons Injured or Killed 2019"] = df2019["NUMBER OF PERSONS INJURED"] + df2019["NUMBER OF PERSONS KILLED"]

df2019["Number Pedestrians and Cyclists Injured or Killed 2019"] = df2019["NUMBER OF PEDESTRIANS INJURED"] + df2019["NUMBER OF PEDESTRIANS KILLED"] + df2019["NUMBER OF CYCLIST INJURED"] + df2019["NUMBER OF CYCLIST KILLED"]


df2019 = df2019[["ZIP CODE", "Number Persons Injured or Killed 2019", "Number Pedestrians and Cyclists Injured or Killed 2019"]]


df2019 = df2019.groupby(['ZIP CODE']).sum()
df2019 = df2019.add_suffix('').reset_index()

df2019 = df2019.sort_values(by = 'Number Persons Injured or Killed 2019', ascending=False).reset_index(drop=True)


df2019[0:20]

,ZIP CODE,Number Persons Injured or Killed 2019,Number Pedestrians and Cyclists Injured or Killed 2019
0,11207,862.0,169
1,11236,791.0,134
2,11203,772.0,145
3,11212,759.0,221
4,11208,641.0,131
5,11234,640.0,118
6,11434,588.0,85
7,11226,535.0,204
8,11385,501.0,154
9,11233,484.0,132
10,10467,463.0,115
11,10469,461.0,71
12,11420,443.0,62
13,11210,439.0,139
14,11413,436.0,46
15,11368,435.0,171
16,10466,404.0,94
17,11206,386.0,172
18,11230,385.0,125
19,11422,382.0,29

2020

In [87]:
df2020 = df[df["Year"] == "2020"].reset_index(drop=True)

df2020["Number Persons Injured or Killed 2020"] = df2020["NUMBER OF PERSONS INJURED"] + df2020["NUMBER OF PERSONS KILLED"]

df2020["Number Pedestrians and Cyclists Injured or Killed 2020"] = df2020["NUMBER OF PEDESTRIANS INJURED"] + df2020["NUMBER OF PEDESTRIANS KILLED"] + df2020["NUMBER OF CYCLIST INJURED"] + df2020["NUMBER OF CYCLIST KILLED"]


df2020 = df2020[["ZIP CODE", "Number Persons Injured or Killed 2020", "Number Pedestrians and Cyclists Injured or Killed 2020"]]


df2020 = df2020.groupby(['ZIP CODE']).sum()
df2020 = df2020.add_suffix('').reset_index()

df2020 = df2020.sort_values(by = 'Number Persons Injured or Killed 2020', ascending=False).reset_index(drop=True)


df2020[0:20]

,ZIP CODE,Number Persons Injured or Killed 2020,Number Pedestrians and Cyclists Injured or Killed 2020
0,11207,762.0,150
1,11236,686.0,132
2,11212,541.0,167
3,11203,524.0,116
4,11208,474.0,111
5,11226,444.0,154
6,11234,416.0,77
7,11385,414.0,146
8,11434,388.0,56
9,11233,369.0,104
10,11368,364.0,181
11,10466,342.0,82
12,10469,336.0,67
13,10454,302.0,74
14,11210,300.0,81
15,10457,297.0,100
16,10468,293.0,103
17,11206,286.0,151
18,10467,281.0,97
19,10460,280.0,87

In [88]:
s1 = pd.merge(df2019, df2020, how='left', on=['ZIP CODE'])
s1 = s1.fillna(0)

s1 = s1.rename(columns={'Number Persons Injured or Killed 2019': 'Persons2019', 
                        'Number Pedestrians and Cyclists Injured or Killed 2019': 'PedCycl2019',
                       'Number Persons Injured or Killed 2020':'Persons2020',
                       'Number Pedestrians and Cyclists Injured or Killed 2020':'PedCycl2020',
                       'ZIP CODE':'ZIPCODE'})

In [52]:
#s1.to_csv(path + "Motor Injuries and Deaths Zip Code.csv", index=False)

Convert Zip Codes to Neighboorhoods

In [89]:
h = "C:\\Users\\dmehri\\Documents\\DATA\\DOT\\"

file1 = open(path + 'Zip Codes by Hood Raw.txt', 'r')
Lines = file1.readlines()


all_data = pd.DataFrame()


 
count = 0
# Strips the newline character
for line in Lines:
    count += 1
    #print(line)
    
    a = line
    a = a.split(",")
    print (a)
    
    qn = pd.DataFrame(columns=('Hood', 'ZIPCODE'))

    for i in range(1, len(a)):
        #print (a[0], a[i])
        
        qn.loc[i] = [a[0],a[i]]


        
    all_data = all_data.append(qn,ignore_index=False)
    
    
all_data = all_data.reset_index(drop=True)

['Central Bronx', ' 10453', ' 10457', ' 10460\n']
['Bronx Park and Fordham', ' 10458', ' 10467', ' 10468\n']
['High Bridge and Morrisania', ' 10451', ' 10452', ' 10456\n']
['Hunts Point and Mott Haven', ' 10454', ' 10455', ' 10459', ' 10474\n']
['Kingsbridge and Riverdale', ' 10463', ' 10471\n']
['Northeast Bronx', ' 10466', ' 10469', ' 10470', ' 10475\n']
['Southeast Bronx', ' 10461', ' 10462', '10464', ' 10465', ' 10472', ' 10473\n']
['Central Brooklyn', ' 11212', ' 11213', ' 11216', ' 11233', ' 11238\n']
['Southwest Brooklyn', ' 11209', ' 11214', ' 11228\n']
['Borough Park', ' 11204', ' 11218', ' 11219', ' 11230\n']
['Canarsie and Flatlands', ' 11234', ' 11236', ' 11239\n']
['Southern Brooklyn', ' 11223', ' 11224', ' 11229', ' 11235\n']
['Northwest Brooklyn', ' 11201', ' 11205', ' 11215', ' 11217', ' 11231\n']
['Flatbush', ' 11203', ' 11210', ' 11225', ' 11226\n']
['East New York and New Lots', ' 11207', ' 11208\n']
['Greenpoint', ' 11211', ' 11222\n']
['Sunset Park', ' 11220', ' 11232\n']
['Bushwick and Williamsburg', ' 11206', ' 11221', ' 11237\n']
['Central Harlem', ' 10026', ' 10027', ' 10030', ' 10037', ' 10039\n']
['Chelsea and Clinton', ' 10001', ' 10011', ' 10018', ' 10019', ' 10020', ' 10036\n']
['East Harlem', ' 10029', ' 10035\n']
['Gramercy Park and Murray Hill', ' 10010', ' 10016', ' 10017', ' 10022\n']
['Greenwich Village and Soho', ' 10012', ' 10013', ' 10014\n']
['Lower Manhattan', ' 10004', ' 10005', ' 10006', ' 10007', ' 10038', ' 10280\n']
['Lower East Side', ' 10002', ' 10003', ' 10009\n']
['Upper East Side', ' 10021', ' 10028', ' 10044', ' 10065', ' 10075', ' 10128\n']
['Upper West Side', ' 10023', ' 10024', ' 10025\n']
['Inwood and Washington Heights', ' 10031', ' 10032', ' 10033', ' 10034', ' 10040\n']
['Northeast Queens', ' 11361', ' 11362', ' 11363', ' 11364\n']
['North Queens', ' 11354', ' 11355', ' 11356', ' 11357', ' 11358', ' 11359', ' 11360\n']
['Central Queens', ' 11365', ' 11366', ' 11367\n']
['Jamaica', ' 11412', ' 11423', ' 11432', ' 11433', ' 11434', ' 11435', ' 11436\n']
['Northwest Queens', ' 11101', ' 11102', ' 11103', ' 11104', ' 11105', ' 11106\n']
['West Central Queens', ' 11374', ' 11375', ' 11379', ' 11385\n']
['Rockaways', ' 11691', ' 11692', ' 11693', ' 11694', ' 11695', ' 11697\n']
['Southeast Queens', ' 11004', ' 11005', ' 11411', ' 11413', ' 11422', ' 11426', ' 11427', ' 11428', ' 11429\n']
['Southwest Queens', ' 11414', ' 11415', ' 11416', ' 11417', ' 11418', ' 11419', ' 11420', ' 11421\n']
['West Queens', ' 11368', ' 11369', ' 11370', ' 11372', ' 11373', ' 11377', ' 11378\n']
['Port Richmond', ' 10302', ' 10303', ' 10310\n']
['South Shore', ' 10306', ' 10307', ' 10308', ' 10309', ' 10312\n']
['Stapleton and St. George', ' 10301', ' 10304', ' 10305\n']
['Mid-Island', ' 10314']

In [90]:
all_data

                         Hood   ZIPCODE
0               Central Bronx     10453
1               Central Bronx     10457
2               Central Bronx   10460\n
3      Bronx Park and Fordham     10458
4      Bronx Park and Fordham     10467
..                        ...       ...
173               South Shore   10312\n
174  Stapleton and St. George     10301
175  Stapleton and St. George     10304
176  Stapleton and St. George   10305\n
177                Mid-Island     10314

[178 rows x 2 columns]

In [91]:
s1

    ZIPCODE  Persons2019  PedCycl2019  Persons2020  PedCycl2020
0     11207        862.0          169        762.0        150.0
1     11236        791.0          134        686.0        132.0
2     11203        772.0          145        524.0        116.0
3     11212        759.0          221        541.0        167.0
4     11208        641.0          131        474.0        111.0
..      ...          ...          ...          ...          ...
214   10177          0.0            0          0.0          0.0
215   10155          0.0            0          0.0          0.0
216   10173          0.0            0          0.0          0.0
217   10167          0.0            0          0.0          0.0
218   10154          0.0            0          0.0          0.0

[219 rows x 5 columns]

In [94]:
all_data["ZIPCODE"] = all_data["ZIPCODE"].astype(str).map(str.strip)

all_dataDic = all_data.set_index('ZIPCODE')['Hood'].to_dict()

s1["Hood"] = s1["ZIPCODE"].map(all_dataDic)

In [77]:
all_data["ZIPCODE"][20]

'10461'

In [70]:
s1

,ZIPCODE,Persons2019,PedCycl2019,Persons2020,PedCycl2020,Hood
0,11207,862.0,169,762.0,150.0,East New York and New Lots
1,11236,791.0,134,686.0,132.0,NaN
2,11203,772.0,145,524.0,116.0,Flatbush
3,11212,759.0,221,541.0,167.0,Central Brooklyn
4,11208,641.0,131,474.0,111.0,NaN
...,...,...,...,...,...,...
214,10177,0.0,0,0.0,0.0,NaN
215,10155,0.0,0,0.0,0.0,NaN
216,10173,0.0,0,0.0,0.0,NaN
217,10167,0.0,0,0.0,0.0,NaN
218,10154,0.0,0,0.0,0.0,NaN

In [95]:
s1.to_csv(path + "Motor Injuries and Deaths Zip Code.csv", index=False)

In [79]:
len(all_dataDic)

42

In [80]:
len(all_data)

178

In [93]:
all_dataDic

{'10453': 'Central Bronx',
 '10457': 'Central Bronx',
 '10460': 'Central Bronx',
 '10458': 'Bronx Park and Fordham',
 '10467': 'Bronx Park and Fordham',
 '10468': 'Bronx Park and Fordham',
 '10451': 'High Bridge and Morrisania',
 '10452': 'High Bridge and Morrisania',
 '10456': 'High Bridge and Morrisania',
 '10454': 'Hunts Point and Mott Haven',
 '10455': 'Hunts Point and Mott Haven',
 '10459': 'Hunts Point and Mott Haven',
 '10474': 'Hunts Point and Mott Haven',
 '10463': 'Kingsbridge and Riverdale',
 '10471': 'Kingsbridge and Riverdale',
 '10466': 'Northeast Bronx',
 '10469': 'Northeast Bronx',
 '10470': 'Northeast Bronx',
 '10475': 'Northeast Bronx',
 '10461': 'Southeast Bronx',
 '10462': 'Southeast Bronx',
 '10464': 'Southeast Bronx',
 '10465': 'Southeast Bronx',
 '10472': 'Southeast Bronx',
 '10473': 'Southeast Bronx',
 '11212': 'Central Brooklyn',
 '11213': 'Central Brooklyn',
 '11216': 'Central Brooklyn',
 '11233': 'Central Brooklyn',
 '11238': 'Central Brooklyn',
 '11209': 'Southwest Brooklyn',
 '11214': 'Southwest Brooklyn',
 '11228': 'Southwest Brooklyn',
 '11204': 'Borough Park',
 '11218': 'Borough Park',
 '11219': 'Borough Park',
 '11230': 'Borough Park',
 '11234': 'Canarsie and Flatlands',
 '11236': 'Canarsie and Flatlands',
 '11239': 'Canarsie and Flatlands',
 '11223': 'Southern Brooklyn',
 '11224': 'Southern Brooklyn',
 '11229': 'Southern Brooklyn',
 '11235': 'Southern Brooklyn',
 '11201': 'Northwest Brooklyn',
 '11205': 'Northwest Brooklyn',
 '11215': 'Northwest Brooklyn',
 '11217': 'Northwest Brooklyn',
 '11231': 'Northwest Brooklyn',
 '11203': 'Flatbush',
 '11210': 'Flatbush',
 '11225': 'Flatbush',
 '11226': 'Flatbush',
 '11207': 'East New York and New Lots',
 '11208': 'East New York and New Lots',
 '11211': 'Greenpoint',
 '11222': 'Greenpoint',
 '11220': 'Sunset Park',
 '11232': 'Sunset Park',
 '11206': 'Bushwick and Williamsburg',
 '11221': 'Bushwick and Williamsburg',
 '11237': 'Bushwick and Williamsburg',
 '10026': 'Central Harlem',
 '10027': 'Central Harlem',
 '10030': 'Central Harlem',
 '10037': 'Central Harlem',
 '10039': 'Central Harlem',
 '10001': 'Chelsea and Clinton',
 '10011': 'Chelsea and Clinton',
 '10018': 'Chelsea and Clinton',
 '10019': 'Chelsea and Clinton',
 '10020': 'Chelsea and Clinton',
 '10036': 'Chelsea and Clinton',
 '10029': 'East Harlem',
 '10035': 'East Harlem',
 '10010': 'Gramercy Park and Murray Hill',
 '10016': 'Gramercy Park and Murray Hill',
 '10017': 'Gramercy Park and Murray Hill',
 '10022': 'Gramercy Park and Murray Hill',
 '10012': 'Greenwich Village and Soho',
 '10013': 'Greenwich Village and Soho',
 '10014': 'Greenwich Village and Soho',
 '10004': 'Lower Manhattan',
 '10005': 'Lower Manhattan',
 '10006': 'Lower Manhattan',
 '10007': 'Lower Manhattan',
 '10038': 'Lower Manhattan',
 '10280': 'Lower Manhattan',
 '10002': 'Lower East Side',
 '10003': 'Lower East Side',
 '10009': 'Lower East Side',
 '10021': 'Upper East Side',
 '10028': 'Upper East Side',
 '10044': 'Upper East Side',
 '10065': 'Upper East Side',
 '10075': 'Upper East Side',
 '10128': 'Upper East Side',
 '10023': 'Upper West Side',
 '10024': 'Upper West Side',
 '10025': 'Upper West Side',
 '10031': 'Inwood and Washington Heights',
 '10032': 'Inwood and Washington Heights',
 '10033': 'Inwood and Washington Heights',
 '10034': 'Inwood and Washington Heights',
 '10040': 'Inwood and Washington Heights',
 '11361': 'Northeast Queens',
 '11362': 'Northeast Queens',
 '11363': 'Northeast Queens',
 '11364': 'Northeast Queens',
 '11354': 'North Queens',
 '11355': 'North Queens',
 '11356': 'North Queens',
 '11357': 'North Queens',
 '11358': 'North Queens',
 '11359': 'North Queens',
 '11360': 'North Queens',
 '11365': 'Central Queens',
 '11366': 'Central Queens',
 '11367': 'Central Queens',
 '11412': 'Jamaica',
 '11423': 'Jamaica',
 '11432': 'Jamaica',
 '11433': 'Jamaica',
 '11434': 'Jamaica',
 '11435': 'Jamaica',
 '11436': 'Jamaica',
 '11101': 'Northwest Queens',
 '11102': 'Northwest Queens',
 '11103': 'Northwest Queens',
 '11104': 'Northwest Queens',
 '11105': 'Northwest Queens',
 '11106': 'Northwest Queens',
 '11374': 'West Central Queens',
 '11375': 'West Central Queens',
 '11379': 'West Central Queens',
 '11385': 'West Central Queens',
 '11691': 'Rockaways',
 '11692': 'Rockaways',
 '11693': 'Rockaways',
 '11694': 'Rockaways',
 '11695': 'Rockaways',
 '11697': 'Rockaways',
 '11004': 'Southeast Queens',
 '11005': 'Southeast Queens',
 '11411': 'Southeast Queens',
 '11413': 'Southeast Queens',
 '11422': 'Southeast Queens',
 '11426': 'Southeast Queens',
 '11427': 'Southeast Queens',
 '11428': 'Southeast Queens',
 '11429': 'Southeast Queens',
 '11414': 'Southwest Queens',
 '11415': 'Southwest Queens',
 '11416': 'Southwest Queens',
 '11417': 'Southwest Queens',
 '11418': 'Southwest Queens',
 '11419': 'Southwest Queens',
 '11420': 'Southwest Queens',
 '11421': 'Southwest Queens',
 '11368': 'West Queens',
 '11369': 'West Queens',
 '11370': 'West Queens',
 '11372': 'West Queens',
 '11373': 'West Queens',
 '11377': 'West Queens',
 '11378': 'West Queens',
 '10302': 'Port Richmond',
 '10303': 'Port Richmond',
 '10310': 'Port Richmond',
 '10306': 'South Shore',
 '10307': 'South Shore',
 '10308': 'South Shore',
 '10309': 'South Shore',
 '10312': 'South Shore',
 '10301': 'Stapleton and St. George',
 '10304': 'Stapleton and St. George',
 '10305': 'Stapleton and St. George',
 '10314': 'Mid-Island'}